@{
    ViewBag.Title = "Launch Page";
}

<div>
    <h1> W</h1>
    <button style="margin: 0 auto; display: block" onclick="location.href='@Url.Action("Rocket", "Setup")';return false;">Launch</button>
    <button style="margin: 0 auto; display: block" onclick="location.href='@Url.Action("CrewIntro", "Setup")';return false;">Crew</button>
</div>