@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Choose your Rocket!!!.</p>
<form id="myForm">
    <input type="radio" name="rocket" value="SpaceX" checked> SpaceX<br>
    <input type="radio" name="rocket" value="Blue Origin"> Blue Origin<br>
    <input type="radio" name="rocket" value="NASA"> NASA<br>
    <input type="radio" name="rocket" value="Foreign"><br />
    <button id="btnSave">Next!</button>
</form>
